@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body{background-color: rgb(181, 181, 181);font-family:Verdana, Geneva, Tahoma, sans-serif;}

h1{font-family: 'Syncopate';color: rgb(248, 112, 0);text-shadow: 1px 1px 3px black;}

h2{color: rgba(171, 100, 8, 0.861);text-shadow: 1px 1px 2px rgb(0, 0, 0);}

    h1#principal{text-align: center;color: brown;background-color: black;}
    .avançado{color: blue;}
    .basico{color: rgb(167, 9, 182);}
    .intermediario{color: chartreuse;}
   