body{background-image: radial-gradient(#CFD4C5,#EECFD4,#EFB9CB,#C287E8);}
h1{color: #fd0d0d;}
h2{color: #070707;}
p{color: aliceblue;font-size: 25PX;}
ul{font-size: 20x;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: #fd0d0d;font-size: 20px;}